name: Basic Checks Comment Trigger

on:
    issue_comment:
        types:
            - created

jobs:
    typecheck:
        if: ${{ github.event.issue.pull_request && github.event.comment.body == '/basic-checks'}}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: "14.15.4"
            - run: npm install -g lerna
            - run: npm install -g yarn
            - run: yarn bootstrap
            - run: yarn typecheck
            - run: yarn lint
